/* LoginCss.css */

.logging-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjusted for responsiveness */
    max-width: 400px;
    padding: 5%;
    border: 1px solid #d90074;
    border-radius: 15px;
    background-color: #ffcfcf;
  }
  
  .logging-page h2 {
    text-align: center;
  }
  
  .logging-page input[type="text"],
  .logging-page input[type="password"] {
    width: 100%; /* Adjusted for responsiveness */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .logging-page label {
    display: inline-block;
    margin-bottom: 10px;
   
  }
  
  .logging-page input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .logging-page button {
    display: block;
    margin: 0 auto; /* Center the button */
    background-color: #d90074;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%; /* Adjusted for responsiveness */
  }
  
  .logging-page button:hover {
    background-color: rgb(168, 98, 7);
  }
  
  .logging-page a.forgotpassword {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px; /* Add some spacing */
  }
  
  @media screen and (max-width: 500px) {
    .logging-page {
      width: 90%;
      max-width: 300px;
    }
  
    .logging-page input[type="checkbox"] {
      margin-left: 0; /* Adjust checkbox margin for smaller screens */
    }
  }
  